/* För att få menyn fast överst på sidan*/
nav{
    top:0px;
    position:fixed;
}
#logo {
    margin-top:140px;
}
/* slut s*/
    nav ul li{
        float: none;
    }
    nav ul li a{
        max-width:480px;
    }
    /* Class elemnt navigation 
*******************************************************************************/
    nav .start a{
        background-position:10px -38px;
    }
    nav .start a:hover{
        background-position:10px 10px;
        background-color: #0088ab; 
    }
        nav .start .active{
            background-position:10px 10px;
            background-color: #ff546a;   
        }
    nav .laborationer a{
        background-position:10px -134px;
    }
    nav .laborationer a:hover{
        background-color: #0088ab; 
        background-position: 10px -86px;
    }
        nav .laborationer .active{
            background-color: #ff546a;   
            background-position: 10px -86px;  
        }
    nav .presentation a{
        background-color: #00ccff;
        background-position: 10px -230px; 
    }
    nav .presentation a:hover{
        background-color: #0088ab;
        background-position: 10px -182px; 
    }
        nav .presentation .active{
            background-color: #ff546a;
            background-position: 10px -182px;
        }
    nav .kontakt a{
        background-color: #00ccff;
        background-position: 10px -326px;
    }
    nav .kontakt a:hover{
        background-color: #0088ab;
        background-position: 10px -278px ;
    }
        nav .kontakt .active{
             background-color: #ff546a;
             background-position: 10px -278px; 
        }

/*istället för bildogotypen 
    #logo h1 {
        color:#00ccff;
        content:Anton Ledström; 
        float:left;
        font-size: 58px;
        font-weight:100;
        text-align:right;
        padding-bottom:40px;
    }
/* Håller allt innehåll på sidan*/
#mainPage{
    background-color: #ffffff;
    /*clear:both;*/
}
#mainContent {
    margin-top:20px;
    margin-bottom:20px;
    padding:10px;
}
#columnRight {
    margin-top:20px;
    padding:10px;
}
    #columnRight dl{
        padding-left:10px;
        border-left:1px solid #e6e6e6;
    }
    #columnRight dl dd{
        color:#666666;
    }
    #columnRight dl dt a{
        display: block;
        width: 192px;
        font-size:18px;
        text-decoration: none;
        color:#666666;
        padding-top:5px;
        padding-bottom:5px;
    }
    #columnRight dl dt a:hover{
        color: #00ccff;
        background-color: #ffffff;
    }