nav ul li a{
        width:235px; /* Denna måste sättas här annars fungerar inte max-width i förändrnigen i mobile.css */
        padding-top:10px;
        padding-bottom:10px;
    }
/* Class elemnt navigation 
*******************************************************************************/
    nav .start a{
        background-position:50px -38px;
    }
    nav .start a:hover{
        background-position:50px 10px;
        background-color: #0088ab; 
    }
        nav .start .active{
            background-position:50px 10px;
            background-color: #ff546a;   
        }
    nav .laborationer a{
        background-position:20px -134px;
    }
    nav .laborationer a:hover{
        background-color: #0088ab; 
        background-position: 20px -86px;
    }
        nav .laborationer .active{
            background-color: #ff546a;   
            background-position: 20px -86px;  
        }
    nav .presentation a{
        background-color: #00ccff;
        background-position: 20px -230px; 
    }
    nav .presentation a:hover{
        background-color: #0088ab;
        background-position: 20px -182px; 
    }
        nav .presentation .active{
            background-color: #ff546a;
            background-position: 20px -182px;
        }
    nav .kontakt a{
        background-color: #00ccff;
        background-position:35px -326px;
    }
    nav .kontakt a:hover{
        background-color: #0088ab;
        background-position: 35px -278px ;
    }
        nav .kontakt .active{
             background-color: #ff546a;
             background-position: 35px -278px; 
        }
        
/*Div element *************************************/
#mainPage{
    margin:auto;
    width:940px;
    overflow: hidden; /* utan denna fuckas designen upp med 2 div bredvid varandra */
    background-color: #ffffff;
}
main {
    float: left;
    margin-top:20px;
    margin-bottom:20px;
    width:590px;
    padding:10px;
}
aside {
    margin-top:20px;
    width:300px;
    float:right;
    padding:10px;
}
    aside dl{
        padding-left:10px;
        border-left:1px solid #e6e6e6;
    }
    aside dl dd{
        color:#666666;
    }
    aside dl dt a{
        display: block;
        width: 192px;
        font-size:18px;
        text-decoration: none;
        color:#666666;
        padding-top:5px;
        padding-bottom:5px;
    }
    aside dl dt a:hover{
        color: #00ccff;
        background-color: #ffffff;
    }