/* Reset css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
/*fieldset, form, label, legend, Form element*/
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Slut reset css
********************************************************************************
*/
html{
    background-color:#d8d8d8;
}

body {
	font: 12px/22px Helvetica, Arial, sans-serif;
	margin:auto;
}
h1,h2,h3{
    color:#666666;
    padding-top:10px;
}
h1 {
    background:url(css/pics/h1Img.png) no-repeat left top;
	font-size: 32px;
    line-height: 44px; /*radavstånd */
}
h2 {
	font-size: 28px;
	line-height: 44px;
}

h3 {
	font-size: 18px;
	line-height: 22px;
}
p {
    padding-top:10px;
    padding-bottom:10px;
}
a {
    text-decoration:none;
    color:#ff546a;
}
blockquote{
    padding:10px;
}
table th, td{
    padding:5px;
   	border: 1px solid #d8d8d8;
}
/* html 5 specifika element
The <header> tag specifies a header for a document or section.
The <header> element should be used as a container for introductory content or set of navigational links.
You can have several <header> elements in one document. 
Note: A <header> tag cannot be placed within a <footer>, <address> or another <header> element.
*/
header{
    width:100%;
    background-color:#ffffff;
    float: left;
}
/*
The <nav> tag defines a set of navigation links.
Not all links of a document must be in a <nav> element. The <nav> element is intended only for major block of navigation links.
Browsers, such as screen readers for disabled users, can use this element to determine whether to omit the initial rendering of this content.
*/
nav {
    width:100%;
    background-color:#00ccff;
    float: left;
}
    nav ul{
        margin:auto;
        width:940px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        display: block;
        width: 235px;
        text-align: center;
        font-size:20px;
        text-decoration: none;
        color: #ffffff;
        background-color: #00ccff;
        padding-top:10px;
        padding-bottom:10px;
    }
    nav ul li a:hover{
        color: #ffffff;
        background-color: #0088ab;
    }
    nav ul li a:active{
        color: #ffffff;
        background-color: #ff546a;
    }
    nav .active{
        color: #ffffff;
        background-color: #ff546a;
    }
/* form formatering */
form, fieldset, label, legend{
    margin: 0;
	padding: 0;
} 
    form p{
        padding:5px;
    }
    fieldset, input{
        border: 1px solid #d8d8d8;
    }
    input[type="submit"]{
        margin-top:10px;
    }
/* Footer håller footerText */
footer {
    margin:auto;
    width:920px;
    padding:10px;
    color:#ffffff;
    background-color: #006985;
}

@media print{
    nav, footer, header img{
        display:none;
    }
    body{
        font: 13pt Georgia, "Times New Roman", Times, serif;
    }
    /* Skriver ut adressen till externa webbplatser */
    a[href^="http://"]:after {
    content: " (" attr(href) ")";
    }
    #logo:before{
        display:block;
        content:"Anton Ledström - En utskriftsvänlig version av min laborationsportal";
        border:1px solid #d8d8d8;
    }
    
}
/* Class element
********************************************************************************
*/
.left{
    float:left;
}
.right{
    float: right;
}
/* Div element 
********************************************************************************
*/
#logo {
    margin: auto;
    width:940px;
    overflow:hidden;
}
/*istället för bildogotypen 
    #logo h1 {
        color:#00ccff;
        float:left;
        font-size: 58px;
        font-weight:100;
        text-align:right;
        padding-bottom:40px;
    }
/* Håller allt innehåll på sidan*/
#mainPage{
    margin:auto;
    width:940px;
    overflow: hidden; /* utan denna fuckas designen upp med 2 div bredvid varandra */
    background-color: #ffffff
}
#mainContent {
    float: left;
    margin-top:20px;
    margin-bottom:20px;
    width:640px;
    padding:10px;
}
#columnRight {
    margin-top:20px;
    width:240px;
    float:right;
    padding:10px;
}
    #columnRight dl{
        padding-left:10px;
        border-left:1px solid #e6e6e6;
    }
    #columnRight dl dd{
        color:#666666;
    }
    #columnRight dl dt a{
        display: block;
        width: 192px;
        font-size:18px;
        text-decoration: none;
        color:#666666;
        padding-top:5px;
        padding-bottom:5px;
    }
    #columnRight dl dt a:hover{
        color: #00ccff;
        background-color: #ffffff;
    }
