/* 

<meta name="viewport" content="width:device-width, initial-scale=1.0" />

<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" media="screen and (min-width:481px)" href="screen.css" />
<link rel="stylesheet" media="only screen and (max-width:480px)" href="mobile.css" />

Problem med pixelratio på små skärmar i pixel grafik kan lösas med detta
<img src ="minbild.jpg" srcset="minbild2x.jpg 2x, minbild3x.jpg 3x" />

background-image: image-set(url(minbild.png) 1x,
            url(minbild2x.png)  2x,
            url(minbild3x.png)  3x);


<link rel="shortcut icon" href="bild.ico" type="image/x-icon" /> för IE
<link rel="shortcut icon" href="bild.png" type="image/png" />


*******************
    Reset css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
/*fieldset, form, label, legend, Form element*/
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Slut reset css
********************************************************************************
*/
html{
    background-color:#d8d8d8;
}

body {
	font: 12px/22px Helvetica, Arial, sans-serif;
	margin:auto;
}
img, video {
    max-width:100%;
}
h1,h2,h3{
    color:#666666;
    padding-top:10px;
}
h1 {
    background:url(css/pics/h1Img.png) no-repeat left top;
	font-size: 32px;
    line-height: 44px; /*radavstånd */
}
h2 {
	font-size: 28px;
	line-height: 44px;
}

h3 {
	font-size: 18px;
	line-height: 22px;
}
p {
    padding-top:10px;
    padding-bottom:10px;
}
a {
    text-decoration:none;
    color:#ff546a;
}
blockquote{
    padding:10px;
}
table th, td{
    padding:5px;
   	border: 1px solid #d8d8d8;
}
/* form formatering */
form, fieldset, label, legend{
    margin: 0;
	padding: 0;
} 
    form p{
        padding:5px;
    }
    fieldset, input{
        border: 1px solid #d8d8d8;
    }
    input[type="submit"]{
        margin-top:10px;
    }
@media print{
    nav, footer, header img{
        display:none;
    }
    body{
        font: 13pt Georgia, "Times New Roman", Times, serif;
    }
    /* Skriver ut adressen till externa webbplatser */
    a[href^="http://"]:after {
        content: " (" attr(href) ")";
    }
    #logo:before{
        display:block;
        content:"Anton Ledström - En utskriftsvänlig version av min laborationsportal";
        border:1px solid #d8d8d8;
    }
}

/* html 5 specifika element
The <header> tag specifies a header for a document or section.
The <header> element should be used as a container for introductory content or set of navigational links.
You can have several <header> elements in one document. 
Note: A <header> tag cannot be placed within a <footer>, <address> or another <header> element.
*/
header{
    width:100%;
    background-color:#ffffff;
    float: left;
}
/*
The <nav> tag defines a set of navigation links.
Not all links of a document must be in a <nav> element. The <nav> element is intended only for major block of navigation links.
Browsers, such as screen readers for disabled users, can use this element to determine whether to omit the initial rendering of this content.

----------------end style ------------------------------------>

*/
nav {
    width:100%;
    background-color:#00ccff;
    float: left;
}
    nav ul{
        max-width:940px;
        margin:auto;

    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        display: block;
        width: 235px;
        text-align: center;
        font-size:20px;
        text-decoration: none;
        color: #ffffff;
        padding-top:10px;
        padding-bottom:10px;
    }
/* Class elemnt navigation 
*******************************************************************************/
    nav .start{
        background: #00ccff url('pics/sprite.png') 50px -38px no-repeat; 
    }
    nav .start a:hover{
        background: #0088ab url('pics/sprite.png') 50px 10px no-repeat; 
    }
        nav .start .active{
        background: #ff546a url('pics/sprite.png') 50px 10px no-repeat;   
        }
    nav .laborationer{
        background: #00ccff url('pics/sprite.png') 20px -134px no-repeat; 
    }
    nav .laborationer a:hover{
        background: #0088ab url('pics/sprite.png') 20px -86px no-repeat; 
    }
        nav .laborationer .active{
        background: #ff546a url('pics/sprite.png') 20px -86px no-repeat;  
        }
    nav .presentation{
        background: #00ccff url('pics/sprite.png') 20px -230px no-repeat; 
    }
    nav .presentation a:hover{
        background: #0088ab url('pics/sprite.png') 20px -182px no-repeat; 
    }
        nav .presentation .active{
        background: #ff546a url('pics/sprite.png') 20px -182px no-repeat; 
        }
    nav .kontakt{
        background: #00ccff url('pics/sprite.png') 35px -326px no-repeat; 
    }
    nav .kontakt a:hover{
        background: #0088ab url('pics/sprite.png') 35px -278px no-repeat; 
    }
        nav .kontakt .active{
        background: #ff546a url('pics/sprite.png') 35px -278px no-repeat;  
        }


/* Footer håller footerText */
footer {
    margin:auto;
    max-width:920px;
    padding:10px;
    clear:both;
    color:#ffffff;
    background-color: #006985;
}
#logo {
    margin: auto;
    max-width:940px;
}
